body{
    background:#99ffbb;
}

.menu {
    background:#55ffaa;
}

form {
    border:5px solid black;
    margin:5px;
}

.request{
    border:3px solid black;
    margin:5px;
    background:#ff99bb;
}
.request form{
    border:0px;
    margin:0px;
}


input , button {
    margin:5px;
}

td {
    padding:3px;
}
