:root{
	--mainbg: #fdc83e;
}

h1 {
	font-size:4vw;
}

button{
	background-image:url("/s/svg/button.svg");
	background-color:transparent;
	background-size:100% 100%;
	border:none;
	padding:15px;
	font-size:200%;
	font-weight:bold;
}


body{
    background:var(--mainbg);
}

.menu {
    background:var(--mainbg);
}

form {
    border:5px solid black;
    margin:5px;
    padding:20px;
}

.banner img{
	float:left;
	width:10vw;
	margin:8px;
}


.request{
    border:3px solid black;
    margin:5px;
    background:#ff99bb;
}

.request form{
    border:0px;
    margin:0px;
}


input , button {
    margin:5px;
}

td {
    padding:3px;
}
