{{template "head"}}
        <h1>Pocket Money</h1>

        {{if .}}
        <b>Error:{{printf "%s" .}}</b>
        {{end}}



        <form action="loginfamily">
            <h2>Family Login</h2>
            Email : <input type="text" name="Email"><br>
            Password : <input type="password" name="PWD1"><br>
            <input type="submit">
        </form>

        <form action="loginuser">
            <h2>User Login</h2>
            Username : <input type="text" name="Username"><br>
            Password : <input type="password" name="PWD1"><br>
            <input type="submit">
        </form>

        <form action="newfamily">
            <h2>New Family</h2>
            Email : <input type="text" name="Email"><br>
            Family Name : <input type="text" name="Family Name"><br>
            Password : <input type="password" name="PWD1"><br>
            Confirm Password : <input type="password" name="PWD2"><br>
            <input type="submit">
        </form>
{{template "base"}}        
