{{template "head"}}
    <h1>Family Page: {{.Fam.FamilyName}}</h1>
    <ul>
    {{range .Fam.Members}}
        <li>
            {{.Username}} -- {{bSelect .Parent "Parent" "Child"}}<br>
        </li>
    {{end}}
    </ul>
    <br><br>
    {{if (isparent .Fmem .Fam)}}
    <form action="addmember" method="post"> 
        {{if .Mes}}
        <h3 class="message">{{.Mes }}</h3>
        {{end}}
        <h2>Add Family Member</h2>
        Name : <input type="text" name="username">
        Is Parent: <input type="checkbox" name="parent"><br>
        Password : <input type="password" pattern=".{5,20}" required name="pwd1"><br>
        (Minimum 5 letters)<br>
        Confirm Password : <input type="password" name="pwd2"><br>
        <input type="submit">
    </form>
    {{end}}
{{template "base"}}
