{{template "head" .}}
    <h2>Family Page: {{.Fam.FamilyName}}</h2>
    <br><br>
    {{if (.Fam.IsParent .Fmem)}}
    <div "allforms">
        <div id="actionlist">
            <button onclick="showform('frm_add_member');">Add Family Member</button>
            <button onclick="showform('view_members');">View Members</button>
        </div>
    <div id="formlist">
        <div id="view_members">
            <ul>
            {{range .Fam.Members}}
                <li>
                    {{.Username}} -- {{bSelect .Parent "Parent" "Child"}}<br>
                    <ul>
                        {{range ($.Fam.Period.UserAccounts .Username)}}
                        <li>{{.Name}} {{money .End}}</li>
                        {{end}}
                    </ul>
                </li>
            {{end}}
            </ul>
        </div><!--view_members-->
    <form id="frm_add_member" action="addmember" method="post"> 
        {{if .Mes}}
        <h3 class="message">{{.Mes }}</h3>
        {{end}}
        <h2>Add Family Member</h2>
        Name : <input type="text" name="username">
        Is Parent: <input type="checkbox" name="parent"><br>
        Password : <input type="password" pattern=".{5,20}" required name="pwd1"><br>
        (Minimum 5 letters)<br>
        Confirm Password : <input type="password" name="pwd2"><br>
        <input type="submit" value="Add">
    </form>
    </div><!--formlist-->
    </div><!--allforms-->
    {{js "showform.js"}}
    {{js "template.js"}}
    <div id="pocket"></div> 
    <script>
        showform("view_members");
        psvg = "{{jsesc (asset "s/svg/pocket-temp.svg") }}";
        p2 = replaceAll(psvg,{"maincol":"red","linecol":"blue"});
        document.getElementById("pocket").innerHTML = p2; 
    </script>
    {{end}}
{{template "base"}}
