
# {{define "frm_add_account"}}
# <form id="frm_add_account" action="addaccount" method="post">
#     <h3>Add Account</h3>
#     <input type="text" name="username" readonly value="{{.Fmem}}" hidden>
#     <input type="text" name="accountname" pattern=".{4,20}" required>
#     {{template "colorpicker" "Col1"}}
#     {{template "colorpicker" "Col2"}}
#     <div class="pocket" id="color_pocket">black:black</div>
#     <input type="submit" text="Add" value="Add">
#     </form>
# {{end}}
# 
# {{define "fmp_myaccounts"}}
#         {{range $k , $v := (.Fam.ListWriteAccess .Fmem)}}
#         <option value="{{$v.Username}}:{{$v.Name}}">{{$v.Username}}:{{$v.Name}}:  {{money $v.End}}</option>
#         {{end}}
# {{end}}
# {{define "fmp_allaccounts"}}
#         {{range $k,$v := .Fam.Period.Accounts}}
#         <option value="{{$v.Username}}:{{$v.Name}}">{{$v.Username}}:{{$v.Name}}</option>
#         {{end}}
# {{end}}
# 
# {{define "fmp_allusers"}}
#     {{range $k, $v := .Fam.Members}}
#     <option value="{{$v.Username}}">{{$v.Username}}</option>
#     {{end}}
# {{end}}
# 
# {{/*colorpicker takes a param of name for the object*/}}
# {{define "colorpicker"}}
# <select name="{{.}}" id="{{.}}" onchange="changecolor();">
#     <option value="black">black<div style="width:15px;height:15px;background:black;"></div></option>
#     <option value="blue" style="color:blue;">blue</option>
#     <option value="green" style="background:green;">green</option>
#     <option value="red" style="background:red;">red</option>
#     <option value="orange" style="background:orange;">orange</option>
#     <option value="white" style="background:white;">white</option>
# </select>
# {{end}}


# {{define "frm_pay"}}
#     <form id="frm_pay" action="pay" method="post">
#         <h3>Make a Payment</h3>
#     <input type="text" name="username" readonly value="{{.Fmem}}" hidden>  
#     From: <select name="from">{{template "fmp_myaccounts" .}}</select>
#     To: <select name="to">{{template "fmp_allaccounts" .}}</select><br>
#     Amount:  £<input type="number" step="0.01" min="0" name="amount"><br>
#     Purpose:  <input type="text" name="purpose"><br>
#         <input type="submit" text="Pay Now" value="Pay Now">
#     </form>
# {{end}}

{{define "frm_standing"}}
    <form id="frm_standing" action="addstanding" method="post">
        <h3>Make a Standing Order</h3>
        From: <select name="from">{{template "fmp_myaccounts" .}}</select>
        To: <select name="to">{{template "fmp_allaccounts" .}}</select><br>
    Amount:  £<input type="number" step="0.01" min="0" name="amount"><br>
    Purpose:  <input type="text" name="purpose"><br>

    Start Date: <input type="date" name="start" value="{{dateRFC}}"><br>
    Then Every: <input type="number" min="1" name="delay" value="7">
    <select name="delay_type">
        <option value="days">Days</option>
        <option value="months">Months</option>
    </select><br>
    
        <input type="submit" text="Create" value="Create">
    </form>
{{end}}

{{define "frm_chpass"}}
<form id="frm_chpass" action="chpass" method="post">
    <h3>Change Password</h3>
    Old Password : <input type="password" name="oldpwd"><br>
    New password : <input type="password" name="pwd1"><br>
    Confirm : <input type="password" name="pwd2"><br>
    <input type="submit" text="Change" value="Change">
</form>
{{end}}

{{define "frm_request"}}
<form id="frm_request" action="makerequest" method="post">
    <form action="pay" method="post">
        <h3>Request a Payment</h3>
        <p>The owner of the sending account will have to authorise this payment</p>
    <input type="text" name="username" readonly value="{{.Fmem}}" hidden>  
    From: <select name="fromuser">{{template "fmp_allusers" .}}</select>
    To: <select name="to">{{template "fmp_allaccounts" .}}</select><br>
    Amount:  £<input type="number" step="0.01" min="0" name="amount"><br>
    Purpose:  <input type="text" name="purpose"><br>
        <input type="submit" value="Request Now">
    </form>
</form>
{{end}}
