{{define "frm_add_account"}}
    <form action="addaccount" method="post">
    <h3>Add Account</h3>
    <input type="text" name="username" readonly value="{{.Fmem}}" hidden>
    <input type="text" name="accountname" pattern=".{4,20}" required>
    <input type="submit" text="Add" value="Add">
    </form>
{{end}}

{{define "fmp_myaccounts"}}
    {{$Fmem := .Fmem}}
    <select name="from">
        {{range $k , $v := .Fam.Accounts}}
            {{if eq $v.Username $Fmem}}
            <option value="{{$v.Name}}">{{$v.Name}}:  {{money $v.Current}}</option>
            {{end}}
        {{end}}
    </select>
{{end}}
{{define "fmp_allaccounts"}}
    <select name="to">
        {{range $k,$v := .Fam.Accounts}}
        <option value="{{$v.Username}}:{{$v.Name}}">{{$v.Username}}:{{$v.Name}}</option>
        {{end}}
    </select>
{{end}}


{{define "frm_pay"}}
    <form action="pay" method="post">
        <h3>Make a Payment</h3>
    <input type="text" name="username" readonly value="{{.Fmem}}" hidden>  
    From: {{template "fmp_myaccounts" .}}
    To: {{template "fmp_allaccounts" .}}<br>
    Amount:  £<input type="number" step="0.01" min="0" name="amount"><br>
    Purpose:  <input type="text" name="purpose"><br>
        <input type="submit" text="Pay Now" value="Pay Now">
    </form>
{{end}}

{{define "frm_standing"}}
    <form action="standing" method="post">
        <h3>Make a Standing Order</h3>
    From: {{template "fmp_myaccounts" .}}
    To: {{template "fmp_allaccounts" .}}<br>
    Amount:  £<input type="number" step="0.01" min="0" name="amount"><br>
    Purpose:  <input type="text" name="purpose"><br>

    Start Date: <input type="date" name="start" value="{{dateRFC}}"><br>
    Then Every: <input type="number" min="0" name="delay">
    <select name="delay_type">
        <option value="days">Days</option>
        <option value="months">Months</option>
    </select><br>
    
        <input type="submit" text="Create" value="Create">
    </form>
{{end}}

{{define "frm_chpass"}}
<form action="chpass" method="post">
    <h3>Change Password</h3>
    Old Password : <input type="password" name="oldpwd"><br>
    New password : <input type="password" name="pwd1"><br>
    Confirm : <input type="password" name="pwd2"><br>
    <input type="submit" text="Change" value="Change">
</form>
{{end}}
