{{template "head"}}
        <h1>Pocket Money</h1>

        {{if .}}
        <b>Error:{{printf "%s" .}}</b>
        {{end}}



        <form action="login">
            <h2>Login</h2>
            Family: <input type="text" name="family"><br>
            Member Name : <input type="text" name="username"><br>
            Password : <input type="password" name="pwd"><br>
            <input type="submit">
        </form>


        <form action="newfamily">
            <h2>Create Family Account</h2>
            Family Name : <input type="text" name="familyname"><br>
            Main User : <input type="text" name="username"><br>
            Email : <input type="email" name="email"><br>
            Password : <input type="password" pattern=".{5,20}" required title="5-20 characters" name="pwd1"><br>
            (Minimum 5 letters)<br>
            Confirm Password : <input type="password" name="pwd2"><br>
            <input type="submit">
        </form>
{{template "base"}}        
