{{template "head" . }}
<script>
function shownewfam(){
	fb = document.getElementById("newfamily");
	lb = document.getElementById("login");
	fb.style.display = "";
	lb.style.display = "none";
	document.getElementById("famtop").focus();

}
function showlogin(f,u){
	var fb = document.getElementById("newfamily");
	var lb = document.getElementById("login");
	fb.style.display = "none";
	lb.style.display = "";

		
	var ftxt = document.getElementById("linfam");
	ftxt.focus();
	if (f !== undefined ){
		ftxt.value = f;
	}

	if (u !== undefined) {
		var utxt = document.getElementById("linusr");
		utxt.value = u;
		
		document.getElementById("linpass").focus();
	}
	
}

</script>

        {{if .Mes}}
	<b>{{.Mes}}</b><br>
        {{end}}

	<button onclick="shownewfam()">New Family</button>
	<button onclick="showlogin()">Login</button>
        {{range $k,$v := .Logs}}
        <button onclick="showlogin('{{$v.Fam}}','{{$v.User}}')">{{$v.Fam}},{{$v.User}}</button>
        {{end}}

        {{$tlog := loginpart0 .Logs}}


        <form id="login" action="login" method="post">
            <h2>Login</h2>
            Family: <input id="linfam" type="text" name="family" value="{{$tlog.Fam}}"><br>
            Member Name : <input id="linusr" type="text" name="username" value="{{$tlog.User}}"><br>
            Password : <input id="linpass" type="password" name="pwd"><br>
            <input type="submit" text="Login" value="Login">
        </form>


        <form id="newfamily" action="newfamily" style="display:none" method="post">
            <h2>Create Family Account</h2>
            Family Name : <input id="famtop" type="text" name="familyname"><br>
            Main User : <input type="text" name="username"><br>
            Email : <input type="email" name="email"><br>
            Password : <input type="password" pattern=".{5,20}" required title="5-20 characters" name="pwd1"><br>
            (Minimum 5 letters)<br>
            Confirm Password : <input type="password" name="pwd2"><br>
            <input type="submit" text="Create" value="Create">

        </form>
{{template "base"}}        
