{{define "head"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/s/main.css">
        <title>Pocket Money</title>
    </head>
    <body>
    <div class="banner">
	    <img src="/s/svg/logo.svg">
	    <h1>Pocket Money</h1>


        <div class="menu">
            <a href="/family">Family</a>
            <a href="/personal">Personal</a>
            <a href="/transactions">Transactions</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>
    <div style="clear:both"> </div>

	

{{end}}



{{define "base"}}
    </body>
</html>
{{end}}

