{{define "live_standing"}}

{{$Fmem := .Fmem}}
{{$top := .}}
{{$req := .Fam.GetMustRequests .Fmem}}
{{if len $req}}
    <h2>Pending Requests</h2>
    {{range $req}}
        {{if eq .From.Username $Fmem}}
    <div class="request">
        {{.Requester}} has requested a payment of {{money .Amount}} from you into {{.Dest}}.
        <form action="respondrequest" method="post">
            <input type="text" value="{{.ID}}" hidden readonly name="id">
            <input type="text" value="accept" hidden readonly name="action">
            <select name="from">{{template "fmp_myaccounts" $top}}</select>
            <input type="submit" value="Accept">
        </form>
        <form action="respondrequest" method="post">
            <input type="text" value="{{.ID}}" hidden readonly name="id">
            <input type="text" value="reject" hidden readonly name="action">
            <input type="submit" value="Reject">
        </form>
    </div>
        {{else }}
    <div class="request">
        {{.From.Username}} has rejected your request for {{money .Amount}} into {{.Dest}}.
        <form action="respondrequest" method="post">
            <input type="text" value="{{.ID}}" hidden readonly name="id">
            <input type="text" value="insist" hidden readonly name="action">
            <input type="submit" value="Insist">
        </form>
        <form action="respondrequest" method="post">
            <input type="text" value="{{.ID}}" hidden readonly name="id">
            <input type="text" value="cancel" hidden readonly name="action">
            <input type="submit" value="Cancel">
        </form>
    </div>
        {{end}}
    {{end}}
{{end}}

{{end}}
