{{template "head"}}
{{$top := .}}
{{$Fmem := .Fmem}}
<h2>User Page : {{.Fmem}}</h2>
<h3>Accounts</h3>
{{if .Mes}}
<h3 class="message">{{.Mes}}</h3>
{{end}}
{{$req := .Fam.GetMustRequests .Fmem}}
{{if len $req}}
    <h2>Pending Requests</h2>
    {{range $req}}
    {{if eq .From.Username $Fmem}}
    <form class="request" action="respondrequest" method="post">
        <input type="text" value="{{.ID}}" hidden readonly name="id">
        <input type="text" value="reject" hidden readonly name="action">
        {{.Requester}} has requested a payment of {{money .Amount}} from you into {{.Dest}}.
        <select name="from">{{template "fmp_myaccounts" $top}}</select>
        <input type="submit" value="Accept">
        <a href="/respondrequest?id={{.ID}}&action=reject">Reject</a>
    </form>
    {{else }}
    <a href="/respondrequest?id={{.ID}}&action=cancel">Cancel</a>
    <a href="/respondrequest?id={{.ID}}&action=insist">Insist</a>
    {{end}}
    {{end}}
{{end}}



{{/*Show Accounts*/}}

<ul>
{{range $k, $v := .Fam.Period.Accounts}}
    {{if eq $v.Username $Fmem}}
    <li><a href="/view?uname={{$v.Username}}&ac={{$v.Name}}">{{$v.Name}}</a>&nbsp;{{money $v.End}}</li>
    {{end}}
{{end}}
</ul>

{{$x11 := .SetJob "stand" .Fmem}}
{{template "standing" .}}

{{template "frm_add_account" .}}

{{template "frm_pay" .}}
{{template "frm_standing" . }}
{{template "frm_chpass" .}}
{{template "frm_request" .}}
{{template "base"}}
