{{template "head"}}
{{$top := .}}
{{$Fmem := .Fmem}}
<h2>User Page : {{.Fmem}}</h2>
<h3>Accounts</h3>
{{if .Mes}}
<h3 class="message">{{.Mes}}</h3>
{{end}}

{{template "live_standing" .}}

{{/*Show Accounts*/}}

<ul>
{{range $k, $v := .Fam.Period.Accounts}}
    {{if eq $v.Username $Fmem}}
    <li><a href="/view?uname={{$v.Username}}&ac={{$v.Name}}">{{$v.Name}}</a>&nbsp;{{money $v.End}}</li>
    {{end}}
{{end}}
</ul>

{{$x11 := .SetJob "stand" .Fmem}}
{{template "standing" .}}

{{template "frm_add_account" .}}

{{template "frm_pay" .}}
{{template "frm_standing" . }}
{{template "frm_chpass" .}}
{{template "frm_request" .}}
{{template "base"}}
