{{template "head"}}
    {{$top := .}}
<h2>{{.AC.Username}} : {{.AC.Name}}</h2>
<table>
    <tr>
        <th>Running</th>
        <th>IN</th>
        <th>OUT</th>
        <th>Other</th>
        <th>Purpose</th>
    </tr>
    {{range $k ,$v := .List}}
    <tr>
        <td><b>{{money (index $top.RT $k)}}</b></td>
        {{if and (eq $top.AC.Username $v.FromUser) (eq $top.AC.Name $v.FromAC) }}

        <td></td><td>{{money $v.Amount}}</td><td>{{$v.DestUser}} : {{$v.DestAC}}</td>
        {{else}}
        <td>{{money $v.Amount}}</td><td></td><td>{{$v.FromUser}} : {{$v.FromAC}}</td>
        {{end}}
        <td>{{$v.Purpose}}</td>

    </tr>
    {{end}}
</table>

{{template "base"}}
