{{template "head"}}
    {{$top := .}}
    {{$ac := .Job "ac"}}
<h2>{{.Fmem}} : {{$ac}}</h2>
<table>
    <tr>
        <th>Running</th>
        <th>IN</th>
        <th>OUT</th>
        <th>Other</th>
        <th>Purpose</th>
    </tr>
    {{$List := .Fam.AccumulateTransactions .Fmem $ac}}
    {{range $k ,$v := $List}}
    <tr>
        <td><b>{{money $v.After}}</b></td>
        {{if and (eq $top.Fmem $v.FromUser) (eq $ac $v.FromAC) }}

        <td></td><td>{{money $v.Amount}}</td><td>{{$v.DestUser}} : {{$v.DestAC}}</td>
        {{else}}
        <td>{{money $v.Amount}}</td><td></td><td>{{$v.FromUser}} : {{$v.FromAC}}</td>
        {{end}}
        <td>{{$v.Purpose}}</td>
        <td>{{date $v.Date}}</td>

    </tr>
    {{end}}
</table>

{{template "base"}}
